.checkout {
    background-color: #fff;
    .order-info {
        padding: 40px 15px 30px;
        header {
            text-align: center;
            font-size: rem(15px);
            font-family: LatoBold, sans-serif;
            margin-block-end: 40px;
        }
        .products-list {
            width: 100%;
            padding: 0 15px;
            margin-block-end: 20px;
            border-block-end: 1px solid #e6e6e6;
            .product {
                font-size: rem(14px);
                margin-block-end: 25px;
                .amount {
                    font-weight: bold;
                }
                .mult,
                .details,
                .price {
                    color: #77798c;
                }
                .mult {
                    margin: 0 12px;
                }
                .details {
                    margin-inline-end: 15px;
                }
                .price {
                    margin-inline-start: auto;
                }
            }
        }
        .no-products {
            color: #77798c;
            font-size: rem(14px);
            margin-block-end: 20px;
            img {
                width: 100px;
                margin-block-end: 50px;
            }
        }
        .price-calculation {
            padding: 20px 15px 0px;
            width: 100%;
            > * {
                margin-block-end: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: rem(14px);
                color: #77798c;
            }
            .discount {
                margin-block-end: 20px;
            }
            .total {
                font-weight: bold;
                color: black;
                .txt::after {
                    content: '(incl. VAT)';
                    font-size: rem(11px);
                    margin-inline-start: 5px;
                    font-weight: bold;
                }
            }
        }
    }
    .checkout-info {
        padding: 20px;
        .cards-container {
            margin-block-end: 20px;
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 16px 0px;
            .address-list,
            .delivery-list,
            .contact-list {
                .sub-card {
                    position: relative;
                    margin-block-end: 15px;
                    &:hover {
                        .edit-remove-btns {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    input {
                        position: absolute;
                        visibility: hidden;
                    }
                    input:checked + label {
                        background-color: #fff;
                        border: 1px solid $main-clr;
                    }
                    label {
                        cursor: pointer;
                        padding: 15px;
                        background-color: #f7f7f7;
                        border-radius: 6px;
                        flex: 1 1 100%;
                        .title {
                            font-size: rem(13px);
                            font-weight: bold;
                            margin-block-end: 5px;
                            text-transform: capitalize;
                            line-height: 1.2;
                        }
                        .details {
                            color: #424561;
                            font-size: rem(15px);
                        }
                    }
                }
            }
        }
        .payment-option {
            .cards-header {
                width: 100%;
                > :first-child {
                    margin-block-end: 35px;
                }
                > :last-child {
                    font-size: 13px;
                    color: $main-clr;
                    font-weight: bold;
                }
            }
            .credit-cards-container {
                margin-block-end: 50px;
                width: 100%;
                .credit-card {
                    background-color: #e4f4fc;
                    border-radius: 6px;
                    border: 1px solid #e4f4fc;
                    padding: 15px 20px;
                    margin: 0 5px;
                    img {
                        margin-block-end: 17px;
                    }
                    .card-num-label {
                        font-size: rem(10px);
                        color: #77798c;
                        margin-block-end: 11px;
                    }
                    .card-num {
                        font-size: rem(14px);
                        font-weight: bold;
                        margin-block-end: 9px;
                    }
                    .owner {
                        font-size: rem(12px);
                        font-weight: bold;
                    }
                }
            }
            .voucher {
                font-size: rem(15px);
                color: $main-clr;
                margin-block-end: 30px;
                cursor: pointer;
            }
            .terms {
                font-size: rem(13px);
                color: #77798c;
                line-height: 1.5;
                margin-block-end: 20px;
                span {
                    color: #ff5b60;
                    cursor: pointer;
                }
            }
            .proceed-btn {
                @include for-button;
                height: 48px;
                padding: 0 30px;
                flex-shrink: 0;
                width: 100%;
            }
        }
    }
    .close-btn {
        position: fixed;
        top: 2%;
        right: 3%;
        z-index: 99999;
        border-radius: 25px;
        border: none;
        background-color: #fff;
        color: #222222;
        width: 30px;
        height: 30px;
        font-family: LatoBold, sans-serif;
        font-size: 0.9rem;
        margin: 0 auto 10px;
        cursor: pointer;
    }
    .cards-header {
        line-height: 1.2;
        font-size: rem(19px);
        margin-block-end: 35px;
        .step {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #fff;
            background-color: $main-clr;
            font-size: rem(15px);
            margin-inline-end: 15px;
            height: 30px;
            width: 30px;
        }
        .add-address-btn,
        .add-contact-btn,
        .add-card-btn {
            font-weight: bold;
            color: $main-clr;
            border: none;
            background-color: #fff;
            margin-inline-start: auto;
            .plus {
                margin-inline-end: 8px;
                font-size: rem(18px);
            }
            .txt {
                font-size: rem(13px);
            }
        }
    }
    .sub-card,
    .credit-card {
        &:hover {
            .edit-remove-btns {
                cursor: pointer;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .edit-remove-btns {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out 0s;
        img {
            width: 20px;
            margin-inline-start: 5px;
        }
    }

    @media only screen and (min-width: 480px) {
        .checkout-info {
            padding: 20px;
            .cards-container {
                .address-list,
                .delivery-list,
                .contact-list {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: 0;
                    .sub-card {
                        // flex: 1 1 calc(50% - 10px);
                        max-width: calc(50% - 30px);
                        margin: 15px;
                        line-height: 1.5;
                    }
                }
                .delivery-list {
                    .sub-card {
                        margin: 5px;
                        line-height: 1.5;
                        flex: 1 1 calc(33.3333% - 10px);
                        max-width: calc(33.3333% - 10px);
                    }
                }
                .contact-list {
                    .sub-card {
                        flex: 1 1 calc(50% - 30px);
                        max-width: calc(50% - 10px);
                        margin: 15px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 700px) {
        .checkout-info {
            .cards-container {
                .address-list,
                .contact-list {
                    .sub-card {
                        flex: 1 1 calc(33.3333% - 30px);
                        max-width: calc(33.3333% - 30px);
                        margin: 15px;
                        line-height: 1.5;
                    }
                }
                .delivery-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    .sub-card {
                        line-height: 1.5;
                        flex: 1 1 calc(33.3333% - 30px);
                        max-width: calc(33.3333% - 30px);
                        height: 133px;
                    }
                }
                .contact-list {
                    .sub-card {
                        flex: 1 1 calc(50% - 30px);
                        max-width: calc(50% - 10px);
                        margin: 15px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}
