.help {
    margin-block-start: 68px;
    background-color: #f7f7f7;
    padding: 30px;
    header {
        font-family: PoppinsBold, sans-serif;
        font-size: rem(21px);
        font-weight: bold;
        line-height: 1.2;
        width: 100%;
        text-align: center;
        margin-block-end: 25px;
    }
    .accordion-container {
        margin: 0 auto;
        margin-block-end: 60px;
        max-width: 870px;
    }

    @media only screen and (min-width: 990px) {
        margin-block-start: 90px;
    }
}
