.home {
    position: relative;
    padding-block-end: 100px;
    padding: 136px 0 100px 0;
    background-color: #f9f9f9;
    .content-wrapper {
        width: 100%;
        .slider {
            margin-block-end: 30px;
        }
        .cards-container {
            width: 100%;
            gap: 10px;
            grid-template-columns: repeat(2, minmax(180px, 1fr));
            margin-block-end: 32px;
        }
        .load-btn-container {
            width: 100%;
            text-align: center;
            .load-btn {
                color: $main-clr;
                background-color: #ffffff;
                height: 38px;
                padding: 0 15px;
                font-size: rem(14px);
                font-weight: bold;
                cursor: pointer;
                border-radius: 6px;
                border: 1px solid #f1f1f1;
                transition: all 0.3s ease 0s;
                &:hover {
                    background-color: $main-clr;
                    border-color: $main-clr;
                    color: #ffffff;
                }
            }
        }
        .cart-btn {
            position: fixed;
            right: 30px;
            bottom: 30px;
            width: calc(100% - 60px);
            height: 45px;
            padding: 2px 2px 2px 2px;
            background-color: $main-clr;
            border-radius: 60px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 21px 36px;
            border: 0;
            z-index: 99;
            cursor: pointer;
            outline: 0;
            .icon {
                width: 25px;
                margin-inline-start: 28px;
            }
            :nth-child(2) {
                font-size: rem(13px);
                font-weight: bold;
                padding: 0 10px 0 5px;
                color: #fff;
            }
            .price-box {
                width: 90px;
                height: 41px;
                border-radius: 28px;
                background-color: #fff;
                font-size: rem(13px);
                font-weight: bold;
                color: $main-clr;
                margin-inline-start: auto;
                margin-inline-end: 0;
            }
        }
    }
    .cart-modal-wrapper {
        background-color: transparent;
    }

    @media only screen and (min-width: 580px) {
        .content-wrapper {
            .cart-btn {
                width: auto;
                height: 94px;
                flex-direction: column;
                justify-content: center;
                right: 0px;
                top: 50%;
                padding: 0;
                border-radius: 6px 0px 0px 6px;
                margin-block-start: -46px;
                .wrapper {
                    padding: 15px 10px;
                    .icon {
                        width: 18px;
                    }
                    :nth-child(2) {
                        padding: 0 10px 0 5px;
                        color: #fff;
                    }
                }
                .price-box {
                    width: 80px;
                    height: 35px;
                    color: $main-clr;
                    border-radius: 6px;
                    margin: 0px 10px 10px;
                }
            }
        }
    }
    @media only screen and (min-width: 630px) {
        justify-content: space-between;
        .content-wrapper {
            .cards-container {
                grid-template-columns: repeat(3, minmax(180px, 1fr));
            }
        }
    }

    @media only screen and (min-width: 1100px) {
        padding: 110px 2rem 50px;
        row-gap: 0px;
        grid-template-columns: 300px minmax(0px, 1fr);
        .content-wrapper {
            width: 70%;
            margin-inline-start: auto;
            .cards-container {
                grid-template-columns: repeat(3, minmax(180px, 1fr));
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        .content-wrapper {
            .cards-container {
                grid-template-columns: repeat(4, minmax(180px, 1fr));
            }
        }
    }
}
